#### List demo

In [2]:
lst=[]
print(type(lst))

<class 'list'>

In [5]:
names = ['John', 'Bob', 'Alice' ,10, 20, 30]
print(names)

['John', 'Bob', 'Alice', 10, 20, 30]

In [6]:
mixed_list = [10, 20, 30, 'John', 'Bob', 'Alice' ,True]
print(mixed_list)

[10, 20, 30, 'John', 'Bob', 'Alice', True]

In [17]:
fruits = ['apple', 'banana', 'cherry']
print(fruits[1])
print(fruits[-1])
print(fruits[1:3])
print(fruits[:2])
print(fruits[1:])
print(fruits[-2:])
print(fruits[:-1])
# explain the output
print(fruits[::1])      # ['apple', 'banana', 'cherry']
print(fruits[::2])    # ['apple', 'cherry']
print(fruits[::-1])   # ['cherry', 'banana', 'apple']
print(fruits[::-2])     # ['cherry', 'apple']

banana
cherry
['banana', 'cherry']
['apple', 'banana']
['banana', 'cherry']
['banana', 'cherry']
['apple', 'banana']
['apple', 'banana', 'cherry']
['apple', 'cherry']
['cherry', 'banana', 'apple']
['cherry', 'apple']

In [25]:
fruits = ['apple', 'banana', 'cherry']
print(fruits)
fruits[1] = 'mango'
print(fruits)
print(fruits[1:])
fruits[1:] = ['banana', 'cherry']   
print(fruits)
print(fruits[2:])
fruits[2:] = ['grapes', 'orange'] 
print(fruits)

['apple', 'banana', 'cherry']
['apple', 'mango', 'cherry']
['mango', 'cherry']
['apple', 'banana', 'cherry']
['cherry']
['apple', 'banana', 'grapes', 'orange']

In [31]:
fruits = ['apple', 'banana', 'cherry', 'dates', 'fig']  
print(fruits)
fruits.insert(2, 'mango')
print(fruits)
fruits.append('grapes')
print(fruits)
fruits.remove('banana')
poped_item = fruits.pop()
print(poped_item)
print(fruits)

['apple', 'banana', 'cherry', 'dates', 'fig']
['apple', 'banana', 'mango', 'cherry', 'dates', 'fig']
['apple', 'banana', 'mango', 'cherry', 'dates', 'fig', 'grapes']
grapes
['apple', 'mango', 'cherry', 'dates', 'fig']

In [35]:
index = fruits.index('mango')
print(index)

1

In [37]:
fruits.insert(2, 'mango')  
print(fruits)
print(fruits.count('mango')) 
print(fruits.count('apple'))

['apple', 'mango', 'mango', 'mango', 'cherry', 'dates', 'fig']
3
1

In [41]:
fruits = ['apple', 'banana', 'cherry', 'dates', 'fig']
fruits.sort()
print(fruits)
fruits.sort(reverse=True)
print(fruits)
fruits.reverse()
print(fruits)

['apple', 'banana', 'cherry', 'dates', 'fig']
['fig', 'dates', 'cherry', 'banana', 'apple']
['apple', 'banana', 'cherry', 'dates', 'fig']

In [48]:
# slicing list
numbers = [10, 20, 30, 40, 50, 60, 70, 80, 90] 
print(numbers[1:5])
print(numbers[1:5:2])
print(numbers[::2])
print(numbers[::-1])
print(numbers[::])
print(numbers[:])
print(numbers[::-2])

[20, 30, 40, 50]
[20, 40]
[10, 30, 50, 70, 90]
[90, 80, 70, 60, 50, 40, 30, 20, 10]
[10, 20, 30, 40, 50, 60, 70, 80, 90]
[10, 20, 30, 40, 50, 60, 70, 80, 90]
[90, 70, 50, 30, 10]

In [52]:
# iterate list
numbers = [10, 20, 30, 40, 50, 60, 70, 80, 90]
for number in numbers:
    print(number, end=' ')
print("\n")
for index, number in enumerate(numbers):
    print(index, number)

10 20 30 40 50 60 70 80 90

0 10
1 20
2 30
3 40
4 50
5 60
6 70
7 80
8 90

In [54]:
# list comprehension
numbers = [10, 20, 30, 40, 50, 60, 70, 80, 90]
squared_numbers = []
for number in numbers:
    squared_numbers.append(number*number)
print(squared_numbers)

[100, 400, 900, 1600, 2500, 3600, 4900, 6400, 8100]

In [55]:
number=[10, 20, 30, 40, 50, 60, 70, 80, 90]
squared_numbers = [number*number for number in numbers]
print(squared_numbers)

[100, 400, 900, 1600, 2500, 3600, 4900, 6400, 8100]

In [57]:
squared_numbers =[i*i for i in range(10, 100, 10)]
print(squared_numbers)

[100, 400, 900, 1600, 2500, 3600, 4900, 6400, 8100]

In [58]:
# list comprehension with if condition
even_numbers = [i for i in range(10, 100, 10) if i%2 == 0]
print(even_numbers)

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [60]:
# list comprehension with if else condition
even_odd_numbers = ['Even' if i%2 == 0 else 'Odd' for i in range(10, 100, 10)]
print(even_odd_numbers)

['Even', 'Even', 'Even', 'Even', 'Even', 'Even', 'Even', 'Even', 'Even']

In [61]:
# list comprehension with nested loop
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flattened_matrix = [number for row in matrix for number in row]
print(flattened_matrix)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [62]:
words=['apple', 'banana', 'cherry']
lenths = [len(word) for word in words]
print(lenths)

[5, 6, 6]

In [63]:
list1 = [10, 20, 30, 40, 50]
list2 = [60, 70, 80, 90, 100]
zipped = list(zip(list1, list2))
print(zipped)

[(10, 60), (20, 70), (30, 80), (40, 90), (50, 100)]